//@import "material";

.textfield__list-element.mdl-textfield {
  padding-top: 4px;
  padding-bottom: 4px;

  & > .mdl-textfield__label {
    top: 8px;
  }

  & > .mdl-textfield__label:after {
    bottom: 4px;
  }
}

.textfield__minimised.mdl-textfield {
  padding-top: 0px;
  padding-bottom: 0px;

  & > .mdl-textfield__label {
    top: 4px;
  }

  & > .mdl-textfield__label:after {
    bottom: 0px;
  }
}
